.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--font-geist-mono), sans-serif;
    font-size: 1.5rem;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-family: var(--font-geist-sans), sans-serif;
    font-size: 1rem;
}

.navLinks a:hover {
    text-decoration: underline;
}
