@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

:root {
    --electricblue: #000000;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

/* Timeline Container */
.timeline-container {
    min-height: 100vh;
    background: white;
    color: black;
    padding: 3rem 1rem;
}

/* Header */
.timeline-header {
    text-align: center;
    padding: 4rem 0;
    border-bottom: 2px solid electricblue;
}

.timeline-title {
    font-size: 2.1rem;
    font-weight: 800;
    color: black;
    margin-bottom: 1rem;
}

.timeline-subtitle {
    font-size: 1.1rem;
    font-weight: 400;
    color: electricblue;
}

/* Timeline */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 7px;
    border-radius: 15px;
    background: black;
    transform: translateX(-50%);
}

.timeline-item {
    margin-bottom: 6rem;
    position: relative;
}

.timeline-item-content {
    width: 45%;
    padding: 1.5rem;
    background: white;
    color: black;
    border-radius: 15px;
    text-align: left;
    box-shadow:
        0px 0px 2.7px rgba(0, 0, 0, 0.012),
        0px 0px 6.9px rgba(0, 0, 0, 0.018),
        0px 0px 14.2px rgba(0, 0, 0, 0.022),
        0px 0px 29.2px rgba(0, 0, 0, 0.028),
        0px 0px 80px rgba(0, 0, 0, 0.04);
}

.timeline-item:nth-child(odd) .timeline-item-content {
    margin-left: auto;
}

.timeline-item-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.timeline-categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: electricblue;
}

.timeline-item-description {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

.timeline-progress {
    margin-bottom: 0.5rem;
}

.timeline-progress-bar {
    height: 0.5rem;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
}

.timeline-progress-value {
    height: 100%;
    border-radius: 15px;
    background: black;
}

/* Timeline Dot */
.timeline-dot {
    position: absolute;
    left: 49%;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: black;
    border-radius: 50%;
    transform: translate(-50%, 0);
}

.timeline-dot::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0.75rem;
    height: 0.75rem;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}



@media screen and (max-width: 768px) {
    /* Ajustement de la frise chronologique */
    .timeline-container {
        padding: 2rem 1rem;
    }

    .timeline-header {
        padding: 2rem 0;
    }

    .timeline {
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }

    .timeline-line {
        position: absolute;
        left: 50.6%;
        top: -32;
        bottom: 0;
        width: 6px; /* Réduit la largeur de la frise */
        border-radius: 15px;
        background: black;
        transform: translateX(-50%);
    }

    .timeline-item {
        margin-bottom: 4rem; /* Ajuste l'espacement entre les éléments */
        position: relative;
    }

    .timeline-item-content {
        width: 90%; /* Réduit la largeur pour plus d'espace sur mobile */
        padding: 1rem;
        margin: 1rem auto;
    }

    /* Ajustement des points sur la frise */
    .timeline-dot {
        position: absolute;
        left: 49%;
        top: -40;
        width: 1.2rem; /* Réduit la taille du point */
        height: 1.2rem;
        background: black;
        border-radius: 50%;
        transform: translate(-50%, 0);
    }

    .timeline-dot::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0.6rem; /* Ajuste la taille du point blanc à l'intérieur */
        height: 0.6rem;
        background: white;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    /* Ajustement des progress bar */
    .timeline-progress-bar {
        height: 0.4rem; /* Réduit la hauteur de la barre */
        border-radius: 15px;
        background-color: white;
        overflow: hidden;
    }

    .timeline-progress-value {
        height: 100%;
        border-radius: 15px;
        background: black;
    }

    .timeline-item-description {
        font-size: 1rem;
        line-height: 1.5;
    }

    .timeline-categories {
        display: flex;
        justify-content: space-between; /* Alignement à gauche et droite */
        width: 100%;
    }

    .timeline-progress {
        margin-bottom: 1rem; /* Espacement entre les barres de progression */
    }
}